@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

/* Variables */

:root {
  --color-dirt: #f4f4f2;
  --color-dark: #222222;
  --color-petrol: #004149;
  --spacing-s: 1rem;
  --spacing-m: 2rem;
  --spacing-l: 3rem;
  --spacing-page: 2rem;
}

@media (min-width: 860px) {
  :root {
    --spacing-s: 2rem;
    --spacing-m: 4rem;
    --spacing-l: 5rem;
    --spacing-page: 10vw;
  }
}

@media (min-width: 1200px) {
  :root {
    --spacing-l: 6rem;
    --spacing-page: 16vw;
  }
}

/* Basics */

body {
  padding-top: 10vw;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 154%;
  background: var(--color-dirt);
  color: var(--color-dark);
}

h1, h2 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 120%;
}

h1 em {
  font-weight: 600;
  font-style: normal;
}

.wrapper {
  max-width: 80rem;
  padding-left: var(--spacing-page);
  padding-right: var(--spacing-page);
  margin: 1rem auto;
}

header {
  position: relative;
}

header img {
  display: block;
  width: 40vw;
  margin: 0 auto 2rem;
}

section.wrapper {
  overflow: hidden;
}

section.wrapper p {
  margin-top: 1rem;
}

/* Breakpoints */

@media (min-width: 660px) {

  section.wrapper p {
    width: 50%;
    float: left;
    padding-left: 0rem;
    padding-right: 2rem;
  }
}

@media (min-width: 860px) {
  h1 {
    font-size: 4rem;
    padding-left: 4rem;
  }

  section.wrapper {
    margin-top: 4rem;
  }

  header img {
    margin: 0;
    width: 25rem;
    position: absolute;
    left: -6.5rem;
    top: -5rem;
    z-index: -1;
    
  }
}

@media (min-width: 1100px) {

  header img {
    width: 30rem;
  }
  
  h1 {
    font-size: 4rem;
    padding-left: 4rem;
  }
  
  section.wrapper {
    margin-top: 4rem;
  }

  section.wrapper p {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

/* Konami */

body.konami {
  background: yellow;
}