/* Colors */

$color-grey-darker:             #282725;
$color-grey-dark:               #373737;
$color-grey-light:              #E6E6E3;
$color-grey-lighter:            #F5F5F5;
$color-white:                   #FFFFFF;
$color-orange:                  #F15A24;
$color-petrol:                  #3B4E5B;

/* Layout settings */

$main-max-width:                1200px;
$whitespace-vw-small:           5vw;
$whitespace-vw-medium:          7.5vw;
$whitespace-em-tiny:            3.5em;
$whitespace-em-small:           5em;
$whitespace-em-medium:          7.5em;

/* Basics */

body {
  background: $color-grey-lighter;
  font-family: 'Noticia Text', serif;
  font-size: calc(16px + (18 - 16) * ((100vw - 420px) / (1200 - 420)));
  line-height: 1.68;
  color: $color-grey-dark;
}

* {
  transition-property: margin, padding, transform;
  transition-duration: .2s;
  transition-delay: .2s, .4s, .6s;
  transition-timing-function: linear;
}

/* Typography */

h1,
h2 {
  font-style: italic;
  font-family: 'Asap', sans-serif;
  line-height: 1.3;
}

h1 {
  font-weight: 700;
}

em {
  font-weight: 700;
  font-style: italic;
}

/* Main container */

main {
  background: $color-white;
  max-width: $main-max-width;
  margin: $whitespace-vw-small;
  padding: 0;
}

@media all and (min-width: 800px) {
  main {
    margin: $whitespace-vw-small;
    padding: 0 $whitespace-vw-small;
  }
}

@media all and (min-width: 1200px) {
  main {
    margin: $whitespace-vw-small auto;
    padding: 0 $whitespace-em-small;
  }
}

/* Container wrapper */

.wrapper {
  padding: $whitespace-vw-small;
}

@media all and (min-width: 1200px) {
  .wrapper {
    padding: $whitespace-em-tiny;
  }
}

/* Navigation */

nav,
small {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 70%;
}

nav {
  overflow: hidden;
  margin-bottom: $whitespace-vw-small;
  color: $color-grey-dark;
}

@media all and (min-width: 800px) {
  nav {
    margin: $whitespace-em-small 0 ($whitespace-vw-small / 2);
  }
}

  nav .given-name {
    float: left;
  }

  nav ul {
    float: right;
    display: inline-block;
  }

  nav li {
    display: inline-block;
    margin-left: 1em;
  }

  nav a {
    color: $color-grey-dark;
    text-decoration: none;
  }
