/* Colors */

$color-grey-darker:             #282725;
$color-grey-dark:               #373737;
$color-grey-light:              #E6E6E3;
$color-grey-lighter:            #F5F5F5;
$color-white:                   #FFFFFF;
$color-orange:                  #F15A24;
$color-petrol:                  #3B4E5B;

/* Layout settings */

$main-max-width:                1200px;
$whitespace-vw-small:           5vw;
$whitespace-vw-medium:          7.5vw;
$whitespace-em-tiny:            3.5rem;
$whitespace-em-small:           5rem;
$whitespace-em-medium:          7.5rem;

/* Basics */

body {
  background: $color-grey-lighter;
  font-family: "din-2014", sans-serif;
  font-weight: 300;
  font-size: calc(16px + (19 - 16) * ((100vw - 420px) / (1200 - 420)));
  line-height: 1.68;
  letter-spacing: 1px;
  color: $color-grey-dark;

  @media all and (min-width: 1200px) {
    font-size: 16px;
  }
}

/* Typography */

h1,
h2 {
  font-family: 'acta-display', sans-serif;
  font-weight: 800;
  font-style: italic;
  line-height: 1.3;
}

h2,
h3,
h4 {
  font-weight: inherit;
}

em {
  font-style: normal;
}

section a,
footer a {
  color: $color-grey-dark;
  text-decoration: none;
  border-bottom: 2px solid $color-grey-light;
  font-weight: 600;
  display: inline-block;
  line-height: 1.3;

  &:hover,
  &:active,
  &:focus {
    color: $color-orange;
    border-bottom-color: $color-orange;
  }
}

section a { display: inline }

/* Main container */

main {
  background: $color-white;
  max-width: $main-max-width;
  margin: $whitespace-vw-small;
  padding: 0;

  @media all and (min-width: 650px) {
    margin: $whitespace-vw-small;
    padding: 0 $whitespace-vw-small;
  }

  @media all and (min-width: 1200px) {
    margin: $whitespace-vw-medium auto;
    padding: 0 $whitespace-em-small;
  }
}

/* Container wrapper */

.wrapper {
  padding: $whitespace-vw-medium;

  @media all and (min-width: 1200px) {
    padding: $whitespace-em-small;
  }
}

/* Navigation */

nav,
small {
  text-transform: uppercase;
  font-size: 80%;
}

nav {
  overflow: hidden;
  margin-bottom: $whitespace-vw-small;
  color: $color-grey-dark;

  @media all and (min-width: 650px) {
    margin: $whitespace-em-small 0 ($whitespace-vw-small / 2);
  }
}

  nav .given-name {
    float: left;
  }

  nav ul {
    float: right;
    display: inline-block;
  }

  nav li {
    display: inline-block;
    margin-left: 1em;
  }

  nav a {
    color: $color-grey-dark;
    text-decoration: none;
  }
