header.top {
  background: #F15A24;
  color: #FFFFFF;
}

@media all and (min-width: 800px) {
  header.top {
    margin: 0 7.5vw 0;
  }
}

@media all and (min-width: 1200px) {
  header.top {
    transform: translateY(-2.5em);
  }
}

  .about {
    position: relative;
  }

  @media all and (min-width: 800px) {
    .title {
      width: 50%;
    }
  }

  @media all and (min-width: 800px) {
    .photo {
      position: absolute;
      width: calc(40% + 5vw);
      right: -12.5vw;
      top: 0;
    }
  }

  @media all and (min-width: 1200px) {
    .photo {
      width: calc(40% + 5em);
      right: -7.5em;
    }
  }

section.bio {
}

@media all and (min-width: 800px) {
  section.bio {
  }
}

section.practice {
  background: #282725;
  color: #FFFFFF;
}

section.experience {
}

  .currently {
    background: #E6E6E3;
  }

  .before {

  }

footer.bottom {
  background: #3B4E5B;
  color: #FFFFFF;
}

@media all and (min-width: 1200px) {
  footer.bottom {
    transform: translateY(2.5em);
  }
}
