@import "normalize";
@import "bourbon/bourbon";

//-------------------------------------
// ¡Animación!
//-------------------------------------

@include keyframes(up) {
  0% { opacity: 0; @include transform(translateY(5px)); }
  100% { opacity: 1; @include transform(translateY(0px)); }
}

@include keyframes(down) {
  0% { opacity: 0; @include transform(translateY(-5px)); }
  100% { opacity: 1; @include transform(translateY(0px)); }
}

@include keyframes(hover) {
  0% { @include transform(translateY(0px)); }
  100% { @include transform(translateY(-5px)); }
}

@mixin slide($direction, $delay) {
  @include animation($direction .5s cubic-bezier(.4,.0,.2,1) $delay forwards);
}

//-------------------------------------
// Variables
//-------------------------------------

$colorDarkGrey:     #222;
$colorLightGrey:    #888;
$colorBlue:         #00a5df;

* { box-sizing: border-box }

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: "fira-sans", Arial, sans-serif;
  color: $colorDarkGrey;
}

body > svg { display: none }

.wrapper {
  @include transform(translateY(-50%));
  position: relative;
  top: 50%;
  max-width: 680px;
  padding: 0 2em;
  margin: 0 auto;
}

.about {
  margin: 0;
  text-align: center;
}

.picture {
  @include slide(down, 0s);
  width: 160px;
  margin: 0 auto 2.5em;

  img {
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%);
    border-radius: 50%;
    display: block;
    width: 100%;
    background: rgba($colorDarkGrey, .8);
  }
}

.description {

  h1, h2 {
    opacity: 0;
    margin: 0;
    line-height: 1.7;
  }

  h1 {
    @include slide(up, .2s);
    // font-size: 2.5em;
    font-size: 1.3em;
  }

  h2 {
    @include slide(up, .4s);
    color: $colorLightGrey;
    font-size: 1.3em;
    font-weight: 100;

    a { border-bottom: 3px solid }
  }

  a {
    color: darken($colorBlue, 10%);
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      @include transition(color .3s cubic-bezier(.4,.0,.2,1));
      color: $colorBlue;
    }
  }

  .social {
    margin-top: 2.5em;
    padding: 0;
    list-style: none;

    li {
      opacity: 0;
      display: inline-block;
    }

    .instagram  { @include slide(up, .5s) }
    .twitter    { @include slide(up, .6s) }
    .dribbble   { @include slide(up, .7s) }
    .github     { @include slide(up, .8s) }
    .linkedin   { @include slide(up, .9s) }

    a {
      padding: .4em;
      display: block;

      &:hover,
      &:active,
      &:focus {
        svg {
          @include transition(all .3s cubic-bezier(.4,.0,.2,1));
          fill: $colorBlue;
        }
      }
    }

    svg {
      @include transition(all .3s cubic-bezier(.4,.0,.2,1));
      @include size(32px);
      fill: $colorLightGrey;
      display: block;
    }
  }
}
